/*Grid Draw*/

.grid-container {
    display: flex;
    align-items: center;
}

.grid {
    /* height: 300px; */
    /* width: 300px; */
    margin: auto;
}

.grid-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.grid-item {
    outline: 1px solid #000;
    width: 16px;
    height: 16px;
    background: gainsboro;
}

.grid-item.border {
    background: black;
}

.grid-item.snake {
    background: gray;
}

/**/